body { /* esto seria el selector*/
     background-color: rgb(250, 221, 225);  /*Es el color de fondo*/
     display: grid;
     align-items: center;
     margin: 0%;
     border:10px solid rgb(247, 221, 225);
     grid-template:
                    "header header" 120px
                    " main " auto
                    "footer" 70 /200px auto;
}


.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

.carousel-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
  }

  
.carousel-inner {
    display: flex;
    width: 100%;

  }
  
.carousel-item img.mesrosa {

    width: 500%;
    height: auto;
    object-fit: cover;
}
.navbar .bg-body-tertiary {
    background-color:palevioletred; /* Cambia #ff0000 al color que desees */
}
.navbar {
    border-bottom: 2px solid rgb(235, 153, 228);
}
   
.nav-item {
    list-style-type: none;
}
.navbar-brand{
    text-decoration: underline;
    border-bottom: 2px solid ;
   

}

 
@keyframes Colores { /*Aplicación de la animación*/
    0% { background-color: rgb(233, 178, 196);
         border-radius: 100%; }
    50% {background-color: rgb(238, 195, 235);}
    100% {background-color: rgb(238, 196, 201);}
}
.tumor{
    font-size: 15px;
    
}
.benignos-malignos{
    color: rgb(233, 65, 93);
    text-decoration: underline;
}
.Celulas{
    display: flex;
    border-radius: 50%; /*Poner en la imagen el borde circular*/
}
.imagen-y-texto{
    display: flex;
}
.Color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(253, 205, 214);
    position: relative; /*Posicion*/
    animation-name: example; /* indican que siga la secuencia de animación definida por ese @keyframes*/
    animation-duration: 4s; /* Duracion de la animacion*/
    border-radius: 50%; /* Es para los bordes, si es 50 hace un borde redondeado*/
    animation-iteration-count: infinite; /*Hace que sea infinito */
}
.chequeo{
    display: flex; /* Hace que se ponga los elementos en linea*/
    margin-left: auto; /*centrar izquiera o derecha automaticamente*/
    margin-right: auto;   
    border: 2px solid black;
}
.Color2 {
    background-color: rgb(253, 205, 214);
}
.Prev{
    justify-content: center;
    font-size: 18px;
}
.continuacion{
    text-decoration: underline;
}
 h2{
    text-align: center; /*Alinear el texto al centro*/
    font-size: 30px; /*tamaño de la fuente*/
    text-decoration: underline ;
    text-decoration-color: rgb(231, 124, 142);
    background-color:rgb(243, 138, 173) ;
}
/* Por clase o class: que tmb ya esta puesto en el archivo de html*/
.imagen1 {
    display: block;/*sirve para poner el bloque asi ocupa todo el ancho*/
    margin: 0% auto; /*pone un margen superior e inferior de cero y automatico*/
    border: 2px solid black; /**/
    background-color: aliceblue; /*color de fondo*/
    background-position: center;
}
.contenedor-de-video {
    text-align: center; /*alinea el contenido en el centro*/
}
.cambiosenla-mama { /* poner en el centro la imagen que no pude*/

    display: block;
    margin: 0% auto;
    justify-content: center;/*centra horizontalmente*/
    align-items: center;/* centra verticalmente*/
    text-align: center;
    background-color: aliceblue;
    background-position: center;

}
.video {
    display:inline-block; /* hace que se comporte como un bloque en linea*/
}

.imagen2 {
    display: block;
    margin: 0% auto ;
    border: 1px solid black;
    height: auto;
    max-width: 50%;
}
.Color3 {
background-color: rgb(253, 205, 214);
display: flex;

}
.imagen3 {
    display: block;
    margin: 0% auto;
    border: 2px solid black;
    background-color: rgb(253, 205, 214);
}
.Color4 {
    background-color: rgb(253, 205, 214);
}
.metodos {
    text-align: center;
}
dt u {
    background-color: rgb(180, 132, 224);
}
.mitos{
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(221, 180, 221);
}
.dd-mitos{
    background-color: rgb(233, 181, 217);
}
.tumor dd{
    font-size: 20px;
}
.alto1{
    display: flex;
    justify-content: center;
}

p {
    font-size: 20px;
}
em {
    font-size: 20px; 
}
fieldset {
    background-color: rgb(231, 212, 221);
    font-size: 20px;
}
header{
    grid-area: "header";
    background: rgb(238, 202, 238);
}
main{
    grid-area: "main";
    background: rgb(247, 221, 225);
}
footer {
    grid-area: "footer"; /*Pie de página*/
    line-height: 1 ; /*Se usa para achicar el espacio entre las oraciones*/
    background-color: black;
    color: aliceblue;
    font-size: 0.2em;
}
.nav-item:hover{  /* cuando pasas el mouse por encima de un elemento cambia de color en este caso en los que tenga id*/
    background: violet;
}  

@media only screen and (max-width: 600px) {
    .rosa h1 {
      font-size: 1.5em; /* Tamaño de fuente ajustado para pantallas más pequeñas */
    }
}
.Luchar{
    display: flex;
    justify-content: center;
    width: auto;
   height: 200px;
   background-position: center;
}
  
  